.App {
  background-image: url(./components/Images/background.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  margin: 0 auto;
  /* position: relative; */
  display: block;
  color: rgb(255, 255, 255);
  /* padding-left: 10%; */
  /* padding-top: 10%; */
}

.navbar {
  width: 100%;
}

.darkenBackground {
  background: rgba(0, 0, 0, 0.8);
  /* padding-left: 10%; */
  height: 100vh;
  width: 50vw;
  margin: 0 auto;

  /* position: relative;
  left: 100px;
  right: 300; */
}

.uploadBox {
  display: 'flex';
  flex-wrap: 'wrap';
}


